/* manage_contact.css */

/* Kontainer utama untuk halaman manajemen kontak */
.manage-contact-container {
    width: 80%;
    margin-left: 260px; /* Memberi jarak dari sidebar kiri */
    padding: 20px;
    box-sizing: border-box;
}


/* Judul halaman */
.manage-contact-container h1 {
    font-size: 2rem;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* Tabel daftar kontak */
.manage-contact-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.manage-contact-container th,
.manage-contact-container td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.manage-contact-container th {
    background-color: #e2e8f0;
    color: #1e293b;
}

.manage-contact-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Tombol tambah kontak */
.add-contact-btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.add-contact-btn:hover {
    background-color: #0056b3;
}
.logo{
    left: 100px;
}